:root {
  --logo-color: #5D5D6D;
  --bg-secondary: #f3f5f6;
  --bg-light: #F0F0F5;
  --text-dark: #737380;
  --text-dark-inputs: #41414d;
  --shapes-dark: #09090a;
  --delete-color: #DE3838;
  --orange-low: #FFA585;
  --shapes: #DCE2E5;
  --shapes-alt: #F3F5F6;
  --shapes-dark:  #09090a;
  --shapes-light: #f5f5fa;
  --brand-blue: #115D8C;
  --brand-green: #61B853;
  --border-color: #A8A8B3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--text-dark-inputs);
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style:none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

